.triangle-bg {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  right: 0;
  margin-right: 0px;
  margin-top: 175px;
  border-top: 806px solid transparent;
  border-right: 1428px solid #FEF3C7;
  z-index: -10;
}

@media screen and (max-width: 768px) {
  .triangle-bg {
    margin-top: 300px;
    border-right: 1428px solid #FEF3C7;
    border-top: 950px solid transparent;
  }
}
